<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufrpe.artemis">

    <application
        android:name=".infra.ArtemisApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_artemis"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_artemis_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".usuario.gui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pessoa.gui.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".usuario.gui.CriarContaUsuarioActivity" />
        <activity android:name=".servico.gui.ServicosListActivity" />
        <activity android:name=".servico.gui.MeusServicosActivity" />
        <activity android:name=".servico.gui.CriarServicoActivity" />
        <activity android:name=".servico.gui.SubCategoriaActivity" />
        <activity
            android:name=".usuario.gui.ConfiguracoesActivity"
            android:label="@string/title_activity_configuracoes" />
        <activity
            android:name=".usuario.gui.AlterarSenhaActivity"
            android:label="@string/title_activity_alterar_senha" />
        <activity android:name=".servico.gui.ServicoActivity" />
        <activity android:name=".servico.gui.EditarServicoActivity" />
        <activity android:name=".pessoa.gui.PerfilActivity" />
        <activity android:name=".pessoa.gui.EditarPerfilActivity" />
        <activity android:name=".pessoa.gui.OutroPerfilActivity" />
        <activity android:name=".chat.gui.ChatActivity" />
        <activity android:name=".chat.gui.ListaConversasActivity" />
        <activity android:name=".avaliacao.gui.FormularioActivity" />
        <activity android:name=".usuario.gui.EsqueciSenhaActivity" />
        <activity android:name=".servico.gui.SearchResultsActivity" />
        <activity android:name=".servico.gui.ServicoOutraPessoaActivity" />
        <activity android:name=".avaliacao.gui.AvaliacoesActivity" />
        <activity android:name=".servico.gui.ServicosRecomendadosActivity"></activity>
    </application>

</manifest>